node/views/index.jade
doctype html
html
  head
    style(type='text/css')
      body {font-family:Arial, Sans-Serif; background:#0000ff}
      #container {width:300px; margin:0 auto;}
      /* Nicely lines up the labels. */
      form label {display:inline-block; width:140px;}
      /* You could add a class to all the input boxes instead, if you like. That would be safer, and more backwards-compatible */
      form input[type="text"],
      form input[type="password"],
      form input[type="email"] {width:160px;}
      form .line {clear:both;}
      form .line.submit {text-align:right;}
  body
    #Login
      form(name='login', method='post', action='/login')
        h1 Login
        .line
          label(for='email') E-mail &colon; 
          input#email(type='email')
          label(for='pwd') Password &colon; 
          input#pwd(type='password')
        .line.login
          input(type='submit', value='Login')
    #SIGNUP
      form(name='signup', method='post', action='/signup')
        h1 SIGNUP
        .line
          label(for='firstname') Firstname &colon; 
          input#firstname(type='text')
          label(for='lname') LastName &colon; 
          input#lname(type='text')
          label(for='email') E-mail &colon; 
          input#email(type='email')
          label(for='pwd') Password &colon; 
          input#pwd(type='password')
        .line.submit
          input(type='submit', value='Submit')

node/views/index.html
<!doctype html>
<html>
    <head>
        <style type="text/css">
 
            body {font-family:Arial, Sans-Serif; background:#0000ff}
 
            #container {width:300px; margin:0 auto;}
 
            /* Nicely lines up the labels. */
            form label {display:inline-block; width:140px;}
 
            /* You could add a class to all the input boxes instead, if you like. That would be safer, and more backwards-compatible */
            form input[type="text"],
            form input[type="password"],
            form input[type="email"] {width:160px;}
 
            form .line {clear:both;}
            form .line.submit {text-align:right;}
 
        </style>
    </head>
    <body>
         <div id="Login">
            <form name ='login' method='post' action='login'>
                <h1>Login</h1>
                <div class="line">
                <label for="email">E-mail : </label><input type="email" id="email" />
                <label for="pwd">Password : </label><input type="password" id="pwd" />
                </div>
                <div class="line login"><input type="submit" value="Login" /></div>
            </form>
        </div>
        <div id="SIGNUP">
            <form name ='signup' method='post' action='signup'>
                <h1>SIGNUP</h1>
                <div class="line"><label for="firstname">Firstname : </label><input type="text" id="firstname" />
                <label for="lname">LastName : </label><input type="text" id="lname" />
                <label for="email">E-mail : </label><input type="email" id="email" />
                <label for="pwd">Password : </label><input type="password" id="pwd" />
                </div>
            
                <div class="line submit"><input type="submit" value="Submit" /></div>
 
            </form>
        </div>
    </body>
</html>
